.content-box .content .data {
  font-size: 14px;
  padding: 20px 20px 0 20px;
}
.content-box .content .data .info {
  border-bottom: 0.5px solid #dedede;
  text-align: center;
}
.content-box .content .data .info .title {
  word-break: break-all;
}
.content-box .content .data .info .date {
  color: #666;
  margin: 7px 0 10px 0;
}
.content-box .content .data .cnt {
  padding: 25px 0;
}
.content-box .content .data .cnt p,
.content-box .content .data .cnt h1,
.content-box .content .data .cnt h2,
.content-box .content .data .cnt h3,
.content-box .content .data .cnt h4,
.content-box .content .data .cnt h5,
.content-box .content .data .cnt h6 {
  margin: 25px 0;
  font-size: 18px;
}
.content-box .content .data .cnt p:nth-of-type(1),
.content-box .content .data .cnt h1:nth-of-type(1),
.content-box .content .data .cnt h2:nth-of-type(1),
.content-box .content .data .cnt h3:nth-of-type(1),
.content-box .content .data .cnt h4:nth-of-type(1),
.content-box .content .data .cnt h5:nth-of-type(1),
.content-box .content .data .cnt h6:nth-of-type(1) {
  margin-top: 0;
}
.content-box .content .data .cnt p:nth-last-of-type(1),
.content-box .content .data .cnt h1:nth-last-of-type(1),
.content-box .content .data .cnt h2:nth-last-of-type(1),
.content-box .content .data .cnt h3:nth-last-of-type(1),
.content-box .content .data .cnt h4:nth-last-of-type(1),
.content-box .content .data .cnt h5:nth-last-of-type(1),
.content-box .content .data .cnt h6:nth-last-of-type(1) {
  margin-bottom: 0;
}
.content-box .content .data .cnt a {
  color: #397bfe;
}
.content-box .content .data .cnt img {
  max-width: 100%;
  height: auto;
}
.content-box .content .data .cnt p {
  color: #333;
  word-break: break-all;
  font-size: 15px;
  position: relative;
}
.content-box .content .data .cnt ol {
  padding-left: 20px;
}
.content-box .content .data .cnt .hidden {
  display: none !important;
}
.content-box .content .data .cnt pre {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}
.content-box .content .data .down {
  padding-top: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  border-top: 0.5px solid #dedede;
}
.content-box .content .data .down .title {
  font-size: 16px;
}
.content-box .content .data .down .item {
  margin-top: 10px;
  float: left;
  background: #5298ff;
  font-size: 14px;
  border: 0.5px solid #5298ff;
  border-radius: 2px;
  margin-right: 20px;
}
.content-box .content .data .down .item a {
  display: block;
  color: #fff;
  padding: 5px 15px;
}
.content-box .content .data .mzsm {
  border-radius: 3px;
  background-color: #F8F8FA;
  padding: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  font-size: 14px;
}
.content-box .content .data .lock {
  text-align: center;
}
.content-box .content .data .lock > * {
  margin-bottom: 30px;
}
.content-box .content .data .lock h1 {
  text-align: center;
}
.content-box .content .data .lock input {
  font-size: 14px;
  outline: none;
  border-radius: 0;
  padding-left: 10px;
  border-width: 0.5px;
  height: 35px;
  width: 100%;
}
.content-box .content .data .lock button {
  height: 35px;
}
.content-box .content .data .lock .error {
  color: #dc3545;
}
.content-box .content .data .lock .mb-vh {
  margin-bottom: 30vh;
}
@media screen and (max-width: 600px) {
  header {
    border-bottom: solid 0.5px #dedede;
  }
}
@media screen and (prefers-color-scheme: dark) and (min-width: 600px) and (max-width: 1200px), (max-width: 600px) and (prefers-color-scheme: dark) {
  .content-box .content .data .info .title {
    color: white;
  }
  .content-box .content .data .info .date {
    color: #8D8D92;
  }
  .content-box .content .data .cnt p {
    color: white;
  }
  .content-box .content .data .cnt p .dark-img-lid {
    display: block;
  }
  .content-box .content .data .down dt h1 {
    color: white;
  }
  .content-box .content .data .down dd.item a {
    background-color: #1C1C1D !important;
  }
  .content-box .content .data .mzsm {
    background-color: #323234;
    color: white;
  }
  .content-box .content .data .mzsm p,
  .content-box .content .data .mzsm h4 {
    background-color: #323234;
  }
}
